Задание 1  
Напишите программу на языке Python по вводу:
а) Фамилии;
б) Имени;
в) Отчества;
г) Год рождения;
д) Пол;
е) Средний балл успеваемости в формате: целая и десятичная часть (тип float).
Выведите эту информацию на экран.
Определите тип каждой переменной.

In [ ]:
lname = input("Введите фамилию: ")

Введите фамилию: Бехтер

In [ ]:
fname = input("Введите имя: ")

Введите имя: Виктория

In [ ]:
mname = input("Введите отчество: ")

Введите отчество: Александровна

In [ ]:
year = input("Введите год рождения: ")

Введите год рождения: 2003

In [ ]:
пол = input("Введите пол: ")

Введите пол: женский

In [ ]:
mark = float(input("Введите средний балл: "))

Введите средний балл: 4

In [ ]:
print(type('Бехтер'))
print(type('Виктория'))
print(type('Александровна'))
print(type(2003))
print(type('женский'))
print(type(4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

Задание 2

Научиться пользоваться циклами «for» и «while»

In [ ]:
number = int(input("Введите натуральное число: "))
sum = 0
for i in range(1, number+1):
    sum += i
print("Сумма чисел от 1 до", number, "равна", sum)

Введите натуральное число: 48
Сумма чисел от 1 до 48 равна 1176

In [ ]:
number = int(input("Введите натуральное число: "))
sum = 0
i = 1
while i <= number:
    sum += i
    i += 1
print("Сумма чисел от 1 до", number, "равна", sum)

Введите натуральное число: 62
Сумма чисел от 1 до 62 равна 1953

Задание 3

Рассмотреть «ветвление» в Python

In [ ]:
x = float(input("Введите координату X: "))
y = float(input("Введите координату Y: "))

if x > 0 and y > 0:
    print("Точка лежит в первом квадранте")
elif x < 0 and y > 0:
    print("Точка лежит во втором квадранте")
elif x < 0 and y < 0:
    print("Точка лежит в третьем квадранте")
elif x > 0 and y < 0:
    print("Точка лежит в четвертом квадранте")
elif x == 0 and y != 0:
    print("Точка лежит на оси Y")
elif y == 0 and x != 0:
    print("Точка лежит на оси X")
else:
    print("Точка лежит в начале координат")

Введите координату X: 7
Введите координату Y: 9
Точка лежит в первом квадранте

Задание 4

Отработать задачи с использованием конструкции «try-except»

In [ ]:
def division():
    try:
        num1 = float(input("Введите первое число: "))
        num2 = float(input("Введите второе число: "))
        if num2 == 0:
            print("Ошибка. На ноль делить нельзя")
        else:
            result = num1 / num2
            print(f"Результат деления: {result}")
    except ValueError:
        print("Ошибка: введите числа")

division()

Введите первое число: 44
Введите второе число: 21
Результат деления: 2.0952380952380953

Задание 5

Разобрать функции и пространства имен

In [ ]:
def factorial(n):
    result = 1
    i = 1
    while i <= n:
        result *= i
        i += 1
    return result

number = int(input("Введите число: "))
print(f"Факториал числа {number} равен {factorial(number)}")

Введите число: 13
Факториал числа 13 равен 6227020800